header{
    font-style:italic ;
    background: no-repeat;
    font-size: 30px;
    padding-top: 30px;
}
.caixa{
background-color: lightblue;
    height: 80px;
    text-align: center;
     width: 100%;
    position: top;

  
  
}
div{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

body{
background-color: bisque;
font-size: 12px;
}

.foto{
  display: flex;
  justify-content: center;
}

figure{
      margin: 0px;
  max-width:250px;
    padding-bottom: 70px;
  flex-flow: column;
}


figcaption{
background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
    font-size: 12px;

}
img{
    height: 250px;
    width: 250px;

}
footer{
    
    background-color: gray;
   width: 100%;
    bottom: 0;
    padding: 20px;
    margin-top: 30px;
}   